body {
    font-family: 'Merienda', cursive;
}

.navBar {
    height: 30px;
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
}
.navBar a {
    display: inline;
    color: black;
    margin-right: 30px;
}
.navBar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.backgroundDiv {
    position: absolute;
    top: 30px;
    left: 20px;
    height: 600px;
    width: 400px;
    background: #cc9966;
    z-index: -1;
}

.projectsRow {
    padding-top: 200px;
}

.projects {
    width: 15rem;
    background-color: orange;
 }
 .projects img{
    height: 120px;
 }
 .projects card-body{
    height: 150;
 }
 
footer {
    height: 100px;
    color: white;
    background: black;
}

ul {
    list-style-image: url('../img/check.gif');
  }