body {
    font-family: 'Merienda', cursive;
}

.navBar {
    height: 30px;
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 40px;
}
.navBar a {
    display: inline;
    color: black;
    margin-right: 30px;
}
.navBar a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.backgroundDiv {
    position: absolute;
    top: 30px;
    left: 20px;
    height: 600px;
    width: 400px;
    background: #cc9966;
    z-index: -1;
}

.projectsRow {
    padding-top: 130px;
}

.projects {
    width: 15rem;
    background-color: rgb(214, 214, 214);
 }
 .projects img{
    height: 145px;
 }
 .projects card-body{
    height: 150;
 }

footer {
    height: 50px;
    color: white;
    background: black;
}

ul {
    list-style-image: url('../img/check.gif');
}

.submit {
    width: 100%;
    padding: 12px;
    color:green;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.p1 {
    text-indent: 50px;
}
.p2 {
    text-indent: 50px;
}


.container1 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #f2f2f2;
}

.imgshadow {
    box-shadow: 10px 10px 10px black;
}
.stylingIntro{

height: 100%;
width: 100%;
}

.loginFooter {
    width: 1080px;
    margin: 0 auto;
    color: white;
    background-color:black;
}
/*background-repeat: no-repeat;
background-position: left center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/
